export DATABASE_URL='hive://my_user@hive-server.example.com:10000/default?auth=KERBEROS&kerberos_service_name=hive'
export KRB5CCNAME='FILE:/tmp/krb5cc_my_user'
export GX_FRESHNESS_LOG_LEVEL=INFO

# Optional values for `make test-hive`.
export HIVE_TEST_DATABASE_URL="$DATABASE_URL"
export HIVE_TEST_SCHEMA=default
export HIVE_TEST_TABLE=my_table
export HIVE_TEST_FRESHNESS_FIELD=insert_date_time
export HIVE_TEST_EXPECTED_FRESHNESS_HOURS=24
